body {
    padding: 0;
    margin: 0;
    background-color: #000;
}
#gol #board {
    width: 100%;
}
#gol form {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    display: none;
    right: 0;
    padding: 0px;
}
#gol:hover form {
    display: block;
}
